<!-- MODAL-FORGOT-PASSWORD  -->
<section class="modal" id="modal__forgot-password">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__content-body" id="modal__content-forgot-password">
                <img class="modal__content-forgot-password-img"
                     src="https://cdna.iconscout.com/img/forgot-password.22518d6.png" alt="Forgot Password Illustration"
                     width="64" height="64" class="mb-6">
                <button class="modal__close js-modal-content-forgot-password-close" type="button">
                    <img src="../static/img/icon-close.svg" alt="" width="24" height="24">
                </button>
                <h2 class="modal__content-title">Parol esdan chiqdimi?</h2>
                <p class="modal__content-forgot-password-text">Xavotir olmang! Email manzilingizni<br>kiriting. Sizga
                    parolni tiklash havolasini yuboramiz</p>

                <form class="registration-form" action="https://kun.uz" method="GET">
                    <input class="registration-form__field" type="email" name="email" placeholder="Email"
                           aria-label="email" required>
                    <button class="button button--block registration-form__submit" type="submit">Yuborish</button>
                </form>

            </div>
        </div>
</section>